/* account>login */
.header {
    margin-top: 30px;
    width: 320px;
    height: 50px;
    background: transparent url(/Images/login.png) no-repeat;
}

.form-login,
.form-register {
    padding: 40px 15px;
    width: 250px;
    margin: 0 auto;
}

    .form-register .txt-validcode {
        width: 120px;
    }

    .form-register .img-validcode {
        margin-left: 5px;
        width: 60px;
        height: 34px;
    }

    .form-register .btn-refresh-validcode {
        margin-left: 5px;
    }

.spree-xrzxlp {
    margin-top: 10px;
    width: 300px;
    border: solid 3px #DD1472;
    overflow: hidden;
}

.spree-lhb {
	padding-top:30px;
    width: 320px;
    background:transparent url(images/bg-spree-2.png) repeat;
}

.spree-lhb .xct-1{
	margin-top:20px;
	height:184px;
    background:transparent url(/images/spree-xct-1.png) no-repeat;
}
.spree-lhb .vip-info{
	font-size:16px;
	color:#fff;
	height:40px;
	background-color:#5D4D4E;
}
.spree-lhb .vip-info a{
	color:#fff;
}

.spree-hdjs {
	position:relative;
    margin-top: 10px;
    width: 300px;
    border: solid 3px #FFBBBC;
    background:transparent url(images/bg-spree-2.png) repeat;
}
.spree-hdjs .pack-1{
	position:absolute;
	top:0;
	left:0;
	width:88px;
	height:88px;
    background:transparent url(/images/pack-1.png) no-repeat;
}

.spree-hdjs .icon-1{
	width:16px;
	height:15px;
    background:transparent url(images/icon-1.png) no-repeat;
    display:inline-block;
}

.spree-hdjs .title-1{
	margin-top:10px;
	text-align:center;
}

.spree-hdjs .title-1 *{
	display:inline-block;
	vertical-align: middle;
}

.home-index-container {
    position: relative;
    width: 320px;
}

    .home-index-container .move-bar {
        position: absolute;
        width: 40px;
        height: 260px;
        background-color:transparent;
        background-position:center center;
        background-repeat:no-repeat;
        display: inline-block;
    }
    .home-index-container .bar-left-enable{
        left:0;
        background: transparent url(/Content/Images/bar-left-enable.png) no-repeat center center;
    }
    .home-index-container .bar-left-disable{
        left:0;
        background: transparent url(/Content/Images/bar-left-disable.png) no-repeat center center;
    }
    .home-index-container .bar-right-enable{
        right:0;
        background: transparent url(/Content/Images/bar-right-enable.png) no-repeat center center;
    }
    .home-index-container .bar-right-disable{
        right:0;
        background: transparent url(/Content/Images/bar-right-disable.png) no-repeat center center;
    }
     .home-index-container .shop-list{
         margin:0;
         padding:0;
         height:300px;
         overflow:hidden;
     }

.footer {
    margin-top: 30px;
    width: 320px;
    height: 119px;
    background: transparent url(/Images/footer.png) no-repeat;
}

.text-red {
    color: #dd1471;
}
