.form-manager-resetpassword table {
    margin: 20px;
}

    .form-manager-resetpassword table tr {
        height: 40px;
    }

.form-manager-resetpassword .editor-label {
}

.form-manager-resetpassword .editor-field * {
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}

.form-manager-resetpassword .editor-field input {
    padding-left: 3px;
    padding-right: 3px;
    width: 250px;
}